In [1]:
%matplotlib widget

import matplotlib.pyplot as plt
import numpy
import pandas as pd

pd.set_option('display.max_rows', 25)

# Blankets

In [12]:
blankets = pd.read_csv('blankets.csv', delimiter = ',')

In [7]:
blankets.describe()

            161.16
count  3719.000000
mean    343.382068
std     216.736629
min       3.930000
25%     175.250000
50%     297.930000
75%     473.190000
max    2100.840000

# Baskets

In [14]:
baskets = pd.read_csv('baskets.csv', delimiter = ',')

In [15]:
baskets.describe()

             53.00
count  3408.000000
mean     39.641945
std      37.746012
min       1.000000
25%      18.000000
50%      29.500000
75%      50.487500
max     450.500000

# Crochet Doll

In [24]:
dolls = pd.read_csv('dolls.csv', delimiter = ',')

In [25]:
dolls.describe()

             29.79
count  1798.000000
mean     72.686174
std     222.529006
min       0.320000
25%      15.420000
50%      22.900000
75%      97.200000
max    8762.710000

# Snakes

In [29]:
snakes = pd.read_csv('snakes.csv', delimiter=',')

In [30]:
snakes.describe()

             55.91
count  4393.000000
mean    309.152643
std     319.154232
min       2.330000
25%     104.980000
50%     205.050000
75%     478.440000
max    4570.000000

# Rugs

In [33]:
rugs = pd.read_csv('rugs.csv', delimiter=',')

In [34]:
rugs.describe()

            331.00
count  2506.000000
mean    291.548619
std     254.060833
min       1.300000
25%     158.070000
50%     265.110000
75%     353.580000
max    3259.730000